
<div fxLayout='column' class="zero">

  <div fxFlex="33" class="one" >
    <mat-toolbar>
      <span>|  Insert LOGO Here  |</span>
      <span>|  Add another thingy here  |</span>
      <span>|  Contact US  |</span>
    </mat-toolbar>
  </div>
  <div fxFlex="33%"  class="two">
    <div fxFlex="5%"    class="two_one">
       
      <mat-sidenav-container>
        <mat-sidenav>Start</mat-sidenav>
        <mat-sidenav position="end">End</mat-sidenav>
        <section>  
          <li><a routerLink="/Home" routerLinkActive="active">[Home]</a></li>
          <li><a routerLink="/Posts" routerLinkActive="active">[Posts]</a></li>
          <li><a routerLink="/Users" routerLinkActive="active">[Users]</a></li>
        </section>
      </mat-sidenav-container>
      </div>
    <div fxFlex="80%"  class="two_two">
      <router-outlet></router-outlet></div>
  </div>
  <div fxFlex class="three">Copyright yess, stealing bad Mmmkey?!...</div>
</div>
