body[ng-cloak] {
    display:none;
  }
  body {
      background-color: yellow;
  }
  div[flex="30"] {
    background-color: yellowgreen;  
  }
  
  section[flex="40"] {
    background-color: mediumaquamarine;
  }

  .container {
    display: flex;
  }

  section[flex="70"] {
    background-color: lavender;
  }
  section[flex="20"] {
   background-color: pink;
  }
  section[flex=""] {
   background-color: darkcyan;
  }
  
  /* Important to set height for column layout */
  .boxWithHeight {
    box-sizing: border-box;
    height: 100%;
  }
  .a, section {
    border: 5px solid rgba(85, 97, 85, 0.27);
    margin: 5px;  
  }
  